# NodeJS
build
node_modules
coverage

# Editor
.vscode

# System
.DS_Store

# Never commit keys to Git!
keys

# Local env files
.env*.local
.env



# npm
*.tgz
*.tar.gz

# cache
**/cache/**
/dist/

# local
local

# price-input
price-inputs.json
/.windsurf/
/.envrc
.windsurfrules
bun.lock

**/local-data-availability/**
